In [4]:
import pandas as pd
import numpy as np
credits_df=pd.read_csv("/home/sabbir/Data/Github/Projects/Recommendation/Movie_Recommendation/Dataset/138_4508_bundle_archive/tmdb_5000_credits.csv")
movies_df=pd.read_csv("/home/sabbir/Data/Github/Projects/Recommendation/Movie_Recommendation/Dataset/138_4508_bundle_archive/tmdb_5000_movies.csv")

In [5]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
We are building a recommendation sys